.advantages {
  padding: 0 20px 33px 20px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding: 0 30px 49px 30px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0 110px 49px 110px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 230px 230px;
    grid-column-gap: 153px;
    grid-row-gap: 37px;
  }
}

@media (min-width: 1100px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 230px 230px 230px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    grid-template-columns: 230px 230px 230px 230px;
    grid-column-gap: 94px;
  }
}

.advantages__list--item {
  position: relative;
  min-height: 60px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/sprite.svg#icon-leaf");
    background-repeat: no-repeat;
    background-position: center;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__list--item {
    display: flex;
    flex-direction: column;
    padding: 151px 0 0 0;
    min-height: 280px;

    &::before {
      width: 80px;
      height: 80px;
      top: 30px;
    }

    &::after {
      width: 30px;
      height: 30px;
      top: 55px;
      left: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__list--item {
    display: flex;
    flex-direction: column;
    padding: 151px 0 0 0;
    min-height: 280px;
  }
}

.advantages__list--item:not(:last-child) {
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .advantages__list--item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages__description--powder {
  &::after {
    background-image: url("../img/sprite.svg#icon-powder");
  }
}

.advantages__description--replace {
  &::after {
    background-image: url("../img/sprite.svg#icon-eat");
  }
}

.advantages__description--month {
  &::after {
    background-image: url("../img/sprite.svg#icon-time");
  }
}

@media (min-width: $tablet-width) {
  .advantages__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    margin-top: 4px;
  }
}

.advantages__description {
  color: $dark-gray;
  font-family: "Lato", sans-serif;
  padding-left: 80px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages__description {
    padding: 0;
    font-size: 16px;
    z-index: 2;
    width: 255px;
    margin-top: -9px;
    line-height: 24px;
  }
}

.advantages__decorative {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__decorative {
    position: absolute;
    display: block;
    background-image: url("../img/sprite.svg#number-one");
    background-repeat: no-repeat;
    background-position: center;
    width: 112px;
    height: 280px;
    top: 0;
    left: 98px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--powder .advantages__decorative {
    background-image: url("../img/sprite.svg#number-two");
    width: 134px;
    height: 280px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--replace .advantages__decorative {
    background-image: url("../img/sprite.svg#number-three");
    width: 134px;
    height: 280px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--month .advantages__decorative {
    background-image: url("../img/sprite.svg#numberfour");
    width: 136px;
    height: 280px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__description--month span {
    display: block;
  }
}
