.button-secondary {
  background-color: #f2f2f2;
  color: $dark-gray;
}

@media (min-width: $tablet-width) {
  .button-secondary {
    margin-bottom: 11px;
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .button-secondary {
    margin-bottom: 0;
    max-width: 169px;
  }
}
