.main-container--catalog {
  overflow: hidden;
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 145px;
    padding: 67px 30px 23px 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    padding: 136px 110px 13px 110px;
    row-gap: 145px;
    column-gap: 80px;
  }
}

.catalog__item {
  border-top: solid 1px $border-gray;
  padding: 20px 20px 13px 20px;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    border: none;
    width: calc(45.75% - 30px);
    flex-grow: 1;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 38px 36px 38px;
  }
}

@media (min-width: 1299px) {
  .catalog__item {
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    max-width: 245px;
    padding: 0 38px 41px 38px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item:last-child {
    padding: 25px 40px 25px 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item:last-child {
    padding: 25px;
  }
}
