.main-header--opened {
  min-height: 263px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding: 29px 17px 0 17px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 61px 94px 44px 94px;
  }
}

@media (min-width: $desktop-width) {
  .main-header--additional {
    padding: 52px 20px;
    position: absolute;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .main-header--additional {
    padding-bottom: 0;
  }
}

.main-header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  top: 0;
  background-color: $basic-white;
  left: 0;
  right: 0;
  height: 66px;
  z-index: 4;
  position: relative;
}

.main-header__menu img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .main-header__menu {
    background-color: transparent;
    padding: 0;
  }
}
