.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 26px 20px 26px 20px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .cooperation__wrapper {
    padding: 61px 70px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__wrapper {
    padding: 60px 80px;
    min-width: 565px;
    max-width: 60%;
    min-height: 199px;
    max-height: 270px;
    position: absolute;
    z-index: 1;
    margin-top: 95px;
    margin-left: 110px;
    background-color: $basic-white;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
}

.cooperation__wrapper--additional {
  background-color: $basic-white;
}

.cooperation__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__address {
  color: $dark-gray;
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
  margin-right: 7px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .cooperation__address {
    font-size: 16px;
    color: $dark-gray;
    font-family: "Lato", "Arial", sans-serif;
    font-style: normal;
    line-height: 20px;
    margin-top: -1px;
    text-align: right;
    margin-right: -3px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__address {
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .cooperation__address span {
    display: block;
    margin-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .cooperation__address span {
    display: block;
    margin-top: 21px;
  }
}

.cooperation__map {
  width: 100%;
  min-height: 362px;
}

.cooperation__map iframe {
  display: block;
  border: none;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .cooperation__map iframe {
    height: 400px;
  }
}

.cooperation__map img {
  height: 362px;
  width: 100%;
  object-fit: fill;
}

@media (min-width: $tablet-width) {
  .cooperation__map img {
    height: 400px;
  }
}

.main-footer_wrapper {
  background-color: #f2f2f2;
  padding: 40px 20px 40px 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px 55px 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer_wrapper {
    padding: 67px 110px 67px 110px;
  }
}

.main-footer__logo-img {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.main-footer__social {
  list-style-type: none;
  padding: 30px 0 31px 0;
  margin: 16px 0 20px 0;
  display: flex;
  justify-content: center;
  border-top: solid 1px $border-gray;
  border-bottom: solid 1px $border-gray;
}

@media (min-width: $tablet-width) {
  .main-footer__social {
    border: 0;
    padding: 0;
    margin: 0;
  }
}

.social__item {
  position: relative;
}

.social__item:not(:last-child) {
  margin-right: 24px;
}

.social__link {
  position: absolute;
  mask-image: url("../img/sprite.svg#icon-vk");
  background-color: #666666;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-35%);
  left: -45px;

  &:hover {
    background-color: $basic-green;
  }

  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .social__link {
    left: -24px;
  }
}

.social__link--youtube {
  mask-image: url("../img/sprite.svg#icon-youtube");
  left: -15px;
}

@media (min-width: $tablet-width) {
  .social__link--youtube {
    left: 4px;
  }
}

.social__link--telegram {
  mask-image: url("../img/sprite.svg#icon-telegram");
  left: 17px;
}

@media (min-width: $tablet-width) {
  .social__link--telegram {
    left: 32px;
  }
}


.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-footer__copyright {
    justify-content: flex-end;
  }
}

.copyright__text {
  color: $dark-gray;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 23px;
  }
}

.copyright__icon {
  mask-image: url("../img/sprite.svg#copyright-icon");
  background-color: #666666;
  width: 27px;
  height: 34px;

  &:hover {
    background-color: $basic-green;
  }

  &:focus {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.6;
  }
}
