.programs {
  padding: 20px;
}

@media (min-width: $tablet-width) {
  .programs {
    padding: 3px 30px 20px 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    padding: 82px 110px 71px 110px;
  }
}
