.result-wrapper {
  max-width: 280px;
  margin: 0 auto 0 auto;
}

@media (min-width: $tablet-width) {
  .result-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: none;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .result-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 366px;
  }
}
