.main-container--form {
  overflow: hidden;
}

.selection__wrapper {
  padding: 20px 0 20px 0;
  border-top: solid 1px $border-gray;
}

@media (min-width: $tablet-width) {
  .selection__wrapper {
    border-top: none;
    padding-top: 37px;
  }
}

@media (min-width: $desktop-width) {
  .selection__wrapper {
    padding-top: 18px;
  }
}

.selection__inner {
  padding: 0 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .selection__inner {
    padding: 0 70px 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .selection__inner {
    padding: 0 110px 0 110px;
  }
}

.selection__title {
  font-size: 36px;
  line-height: 36px;
  margin: 6px 0 37px 0;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .selection__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0 0 57px 0;
  }
}

.selection__description {
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .selection__description {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-container {
    display: flex;
  }
}

.form__container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .form__container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.selection__form {
  padding: 0;
}

.fields__set {
  border: 0;
  padding: 0;
  margin: 0;
}

.fields__set h2 {
  margin: 0;
  padding-top: 26px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    right: -100vw;
    width: 100vw;
    height: 3px;
    background-color: #68b738;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .fields__set h2 {
    padding-right: 40px;
    padding-top: 11px;

    &::before {
      top: 33px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 33px;
      left: calc(-100vw - 40px);
      width: 100vw;
      height: 3px;
      background-color: #68b738;
      z-index: -1;
    }
  }
}

.fields__set h2 span {
  display: block;
}

@media (min-width: $tablet-width) {
  .fields__set h2 span {
    display: inline-block;
  }
}

@media (min-width: $tablet-width) {
  .fields__set h2 {
    font-size: 36px;
    line-height: 36px;
  }
}

/* stylelint-disable */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
/* stylelint-enable */

.fields__set-personal {
  padding: 20px 0 22px 0;
}

@media (min-width: $tablet-width) {
  .fields__set-personal {
    padding-top: 47px;
    padding-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-personal {
    margin-right: 81px;
    min-width: 570px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-personal .fields__text-field {
    width: 100%;
  }
}

.fields__set-personal,
.fields__set-contacts {
  .fields__item:not(:last-child) {
    margin-bottom: 14px;
  }
}

@media (min-width: $tablet-width) {
  .fields__set-personal .fields__item:not(:last-child) {
    margin-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-personal .fields__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.fields__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .fields__list {
    margin-bottom: 15px;
  }
}

.fields__label {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}

.fields__label:last-child {
  margin-bottom: 0;
}

.fields__title {
  margin-right: 13px;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $dark-gray;
}

@media (min-width: $tablet-width) {
  .fields__title {
    font-size: 20px;
    margin-right: 17px;
    margin-top: -5px;
  }
}

.fields__text-field {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 45px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus-visible {
    border: 2px solid $dark-gray;
    outline: none;
  }

  &:focus:invalid {
    border: 1px solid #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .fields__text-field {
    font-size: 20px;
    padding-top: 1px;
    min-height: 52px;
  }
}

.fields__set-program {
  margin-right: -20px;
  margin-left: -20px;
  padding: 22px 20px 22px 20px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.fields__set-program .fields__item {
  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .fields__set-program {
    border: 1px solid #e7e7e7;
    padding-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-program {
    margin-top: 26px;
    padding-bottom: 17px;
  }
}

@media (min-width: $tablet-width) {
  .fields__set-program .fields__title {
    margin-left: 20px;
  }
}

.fields__set-program .fields__list {
  margin-top: 6px;
}

@media (min-width: $tablet-width) {
  .fields__set-program .fields__list {
    margin-top: 11px;
  }
}

.fields__set-program .fields__item:not(:last-child) {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .fields__set-program .fields__item:not(:last-child) {
    margin-bottom: 31px;
  }
}

@media (min-width: $tablet-width) {
  .fields__set-program--wrapper {
    border: none;
    padding: 52px 20px 52px 20px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-program--wrapper {
    border: none;
    padding: 20px;
    width: 100%;
  }
}

.fields__set-program .fields__label {
  margin: 0;
  padding: 1px 0 0 45px;
  position: relative;
  display: block;
}

.fields__set-program .fields__label-mark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  border-radius: 100%;
}

@media (min-width: $tablet-width) {
  .fields__set-program .fields__label-mark {
    width: 40px;
    height: 40px;
    top: -11px;
    left: 6px;
  }
}

.fields__set-program .fields__text-field[type="radio"]:checked + .fields__label-mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #68b738;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .fields__set-program .fields__text-field[type="radio"]:checked + .fields__label-mark::after {
    left: 10px;
  }
}

.fields__set-program .fields__text-field {
  padding: 0;
  margin: 0 15px 0 0;
  width: 30px;
  height: 30px;
}

.fields__set-contacts {
  padding: 26px 0 10px 0;
}

@media (min-width: $tablet-width) {
  .fields__set-contacts {
    padding: 26px 0 49px 0;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-contacts {
    padding: 26px 0 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-contacts h2 {
    &::before {
      top: 54px;
    }

    &::after {
      top: 54px;
    }
  }
}

@media (min-width: $tablet-width) {
  .fields__set-contacts .fields__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.fields__set-contacts legend {
  padding: 0;
}

.fields__set-contacts h2 {
  background-color: $basic-white;
  margin-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .fields__set-contacts h2 {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-contacts h2 {
    padding-top: 33px;
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-contacts .fields__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.fields__text-field--email,
.fields__text-field--phone {
  padding: 0 35px 0 15px;
}

@media (min-width: $desktop-width) {
  .fields__text-field--email {
    min-width: 494px;
  }
}

@media (min-width: $desktop-width) {
  .fields__text-field--phone {
    min-width: 472px;
    padding-left: 18px;
  }
}

.fields__wrapper {
  width: 100%;
  display: block;
  position: relative;
}

.fields__set-contacts svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.fields__set-contacts .fields__text-field:focus + svg {
  fill: #64a83b;
}

.fields__set-contacts .fields__text-field:focus:invalid + svg {
  fill: #ff8282;
}

.fields__set-comments {
  padding: 26px 0 10px 0;
}

@media (min-width: $tablet-width) {
  .fields__set-comments {
    padding: 26px 0 52px 0;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-comments {
    padding: 26px 0 60px 0;
  }
}

.fields__set-comments legend {
  padding: 0;
}

.fields__set-comments h2 {
  background-color: $basic-white;
  margin-bottom: 11px;
  padding-top: 15px;

  &::before {
    top: 29px;
  }
}

@media (min-width: $tablet-width) {
  .fields__set-comments h2 {
    margin-bottom: 61px;

    &::before {
      top: 36px;
    }

    &::after {
      top: 36px;
    }
  }
}

@media (min-width: $desktop-width) {
  .fields__set-comments h2 {
    margin-bottom: 49px;
  }
}

.fields__set-comments .fields__label {
  margin: 0;
}

.fields__text-area {
  padding: 14px;
  width: 100%;
  min-height: 150px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  resize: none;
  border: 1px solid #e7e7e7;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus-visible {
    border: 2px solid $dark-gray;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .fields__text-area {
    font-size: 20px;
    padding-top: 16px;
    padding-left: 19px;
    min-height: 175px;
  }
}

.fields__set-additionally {
  padding: 26px 0 10px 0;
}

@media (min-width: $tablet-width) {
  .fields__set-additionally {
    padding: 26px 0 10px 0;
  }
}

.fields__set-additionally .fields__title {
  padding-top: 1px;
}

@media (min-width: $tablet-width) {
  .fields__set-additionally .fields__title {
    margin-left: 14px;
  }
}

.fields__set-additionally legend {
  padding: 0;
}

.fields__set-additionally .fields__label {
  margin: 0;
  padding: 0 0 0 45px;
  position: relative;
  display: block;
}

.fields__set-additionally .fields__label-mark {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  border-radius: 0;
}

@media (min-width: $tablet-width) {
  .fields__set-additionally .fields__label-mark {
    width: 40px;
    height: 40px;
    top: -10px;
  }
}

.fields__set-additionally .fields__text-field[type="checkbox"]:checked + .fields__label-mark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-image: url("../img/sprite.svg#tick-icon");
  background-size: contain;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .fields__set-additionally .fields__text-field[type="checkbox"]:checked + .fields__label-mark::after {
    left: 5px;
  }
}

.fields__set-additionally h2 {
  padding-top: 13px;
  background-color: $basic-white;
  margin-bottom: 13px;

  &::before {
    top: 27px;
  }
}

@media (min-width: $tablet-width) {
  .fields__set-additionally h2 {
    margin-bottom: 42px;

    &::before {
      top: 34px;
    }

    &::after {
      top: 34px;
    }
  }
}

@media (min-width: $tablet-width) {
  .fields__set-additionally .fields__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.fields__set-additionally .fields__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .fields__set-additionally .fields__item {
    width: 45%;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .fields__set-additionally .fields__item {
    width: 20%;
    margin-bottom: 0;
  }
}

.fields__set-additionally .fields__text-field {
  padding: 0;
  margin: 0 15px 0 0;
  width: 30px;
  height: 30px;
}

.fields__button-container {
  padding: 8px 0 32px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .fields__button-container {
    display: flex;
    align-items: center;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .fields__button-container {
    margin-top: 40px;
    padding-bottom: 81px;
  }
}

.fields__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $basic-green;
  color: $basic-white;
  padding: 10px 20px;
  margin-bottom: 21px;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  min-width: 280px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #5eaa2f;
    color: #ffffff4d;
  }
}

@media (min-width: $tablet-width) {
  .fields__button {
    font-size: 20px;
    min-width: 284px;
    min-height: 54px;
    margin-right: 57px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .fields__button {
    min-width: 570px;
    margin-right: 90px;
  }
}

.button--secondary {
  &:hover {
    background-color: #ebebeb;
    color: $dark-gray;
  }

  &:active {
    background-color: #ebebeb;
    color: $dark-gray;
  }

  &:disabled {
    background-color: #ebebeb;
    color: $dark-gray;
  }
}

.fields__note {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .fields__note {
    font-size: 16px;
  }
}

.cooperation__wrapper--secondary {
  background-color: #f2f2f2;
}
