.main-container--form {
  overflow: hidden;
}

.selection__wrapper {
  padding: 20px 0 20px 0;
  border-top: solid 1px $border-gray;
}

@media (min-width: $tablet-width) {
  .selection__wrapper {
    border-top: none;
    padding-top: 43px;
  }
}

@media (min-width: $desktop-width) {
  .selection__wrapper {
    padding-top: 18px;
  }
}

.selection__inner {
  padding: 0 20px 0 20px;
}

@media (min-width: $tablet-width) {
  .selection__inner {
    padding: 0 70px 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .selection__inner {
    padding: 0 110px 0 110px;
  }
}

.selection__title {
  font-size: 36px;
  line-height: 36px;
  margin: 6px 0 37px 0;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .selection__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin: 0 0 57px 0;
  }
}

.selection__description {
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .selection__description {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__form-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .selection__form-container {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: $desktop-width) {
  .selection__form-container {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.selection__form {
  padding: 0;
}
