.welcome {
  min-height: 480px;
  display: flex;
  position: relative;
  justify-content: space-around;

  &::before {
    content: "";
    background-image: url("../img/index/hero/index-background-mobile@1x.webp");
    background-color: #64a83b;
    background-size: 270px 310px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 312px;
    top: -10px;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media (min-resolution: 2dppx) {
  .welcome::before {
    background-image: url("../img/index/hero/index-background-mobile@2x.webp");
  }
}

@media (min-width: $tablet-width) {
  .welcome {
    &::before {
      background-color: $basic-white;
      background-image: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    &::before {
      content: "";
      background-image: url("../img/index/hero/index-background-desktop@1x.webp");
      background-color: #64a83b;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center left;
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: auto;
      right: 0;
      z-index: 1;
    }
  }
}

@media (min-width: $desktop-width) and (min-resolution: 2dppx) {
  .welcome::before {
    background-image: url("../img/index/hero/index-background-desktop@2x.webp");
  }
}

.welcome__wrapper {
  padding: 27px 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  z-index: 3;
  position: relative;
}

@media (min-width: $tablet-width) {
  .welcome__wrapper {
    text-align: left;
    margin-left: 90px;
    padding: 37px 20px 0 29px;
  }
}

@media (min-width: $desktop-width) {
  .welcome__wrapper {
    margin-left: 160px;
    margin-top: 225px;
    min-height: 469px;
  }
}

.welcome__title {
  width: 100%;
  color: $basic-white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

@media (min-width: $tablet-width) {
  .welcome__title {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }
}

@media (min-width: $desktop-width) {
  .welcome__title {
    margin-top: -38px;
    max-width: 470px;
    margin-right: auto;
  }
}

.welcome__subtitle {
  color: $basic-white;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0  0 29px 0;
}

@media (min-width: $tablet-width) {
  .welcome__subtitle {
    color: $basic-black;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .welcome__subtitle {
    margin-right: auto;
    max-width: 470px;
  }
}

@media (min-width: $tablet-width) {
  .welcome__img {
    max-width: none;
    display: block;
    margin-top: -10px;
    margin-left: -100px;
  }
}

@media (min-width: $desktop-width) {
  .welcome__img {
    position: absolute;
    top: -72px;
    left: calc(50% + 134px);
    transform: translateX(-50%);
  }
}

.welcome__button {
  background-color: $basic-green;
  color: $basic-white;
  padding: 11px 20px;
  text-transform: uppercase;
  border: 0;
  white-space: nowrap;
  margin-top: auto;
  min-width: 280px;
  text-align: center;
  font-size: 16px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: #5eaa2f;
    color: #ffffff4d;
  }
}

@media (min-width: $tablet-width) {
  .welcome__button {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    padding: 18px 10px;
    min-width: 244px;
    position: absolute;
    top: 268px;
    left: 29px;
  }
}

@media (min-width: $desktop-width) {
  .welcome__button {
    position: static;
    margin-right: auto;
    margin-top: 20px;
  }
}
