.welcome {
  height: 480px;
  display: flex;
  position: relative;
  justify-content: space-around;

  &::before {
    content: "";
    background-image: url("../img/index/index-background-mobile.jpg");
    background-color: #64a83b;
    background-size: 320px 303px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 305px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &::after {
    content: "";
    background-image: url("../img/hero-img.png");
    background-repeat: no-repeat;
    background-size: 280px;
    background-position: center;
    position: absolute;
    height: 271px;
    width: 280px;
    top: 170px;
    left: 50%;
    margin-left: -140px;
    z-index: 2;
  }
}

.welcome__wrapper {
  padding: 20px 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  z-index: 3;
  position: relative;
}

.welcome__title {
  width: 100%;
  color: $basic-white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

.welcome__subtitle {
  color: $basic-white;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0  0 29px 0;
}

.button-link {
  background-color: $basic-green;
  color: $basic-white;
  padding: 11px 20px;
  text-transform: uppercase;
  border: 0;
  white-space: nowrap;
  margin-top: auto;
  min-width: 280px;
}
